body, html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body{
  background: linear-gradient(45deg, rgba(119,81,254,1) 0%,rgba(0,169,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 90%;
  background-color: gray;
  border-radius: 4px;

  .headbar {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    .left {

    }
    .right {

    }
  }
  .main{
    width: 85%;
    height: auto;
    margin: 25px auto;
  }
}